<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../link/head.ejs'); %>
  <title>Falo</title>
</head>
<body>
  <div class="container-fluid bg-dark text-light">
    <div class="container">
      <div class="col py-5">
        <h1><strong>WELCOME</strong></h1>
        <h2>Home page will be here</h2>
      </div>
    </div>
  </div>
  <%- include('../link/script.ejs'); %>
</body>
</html>