<div class="row" onclick="window.location.href = '/home';">
  <div class="col-4 mx-3"></div>
  <div class="col-12 col-xl-6 pl-md-4">
    <div class="row">
      <div class="d-md-none d-lg-block d-xl-none col-3 mx-n2"></div>
      <div class="d-block d-sm-none row text-center pb-3">
        <img src="images/main/logo_F_light.png" alt="Falo_logo" class="col-3 w-100">
      </div>
      <div class="d-none d-sm-block col-12 col-sm-2">
        <img src="images/main/logo_F_light.png" alt="Falo_logo" class="w-100">
      </div>
      <div class="col text-center text-sm-left">
        <h1 class="d-none d-sm-block d-md-none d-lg-block m-0 ml-0 ml-sm-n3 mt-n2 p-0"
          style="font-size: 84px; line-height: 1; font-family: 'Trebuchet MS';"><strong>FALO</strong></h1>
        <h1 class="d-block d-sm-none d-md-block d-lg-none" style="font-family: 'Trebuchet MS';">
          <strong>Falo</strong>
        </h1>

        <h2 class="d-none d-lg-block d-xl-none" style="line-height: 2; margin-left: -13px;">Connecting people</h2>
        <h2 class="d-none d-sm-none d-md-block d-lg-none ">Connecting people</h2>
      </div>
    </div>
    <div class="row d-block d-md-none d-xl-block text-center text-md-left">
      <div class="col">
        <h2>Connecting people</h2>
      </div>
    </div>
  </div>
</div>